/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #FBFAF5;
    color: #121212;
    margin: 0;
    padding: 0;
}
nav ul {
    background-color: #212121;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: #FBFAF5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #477AC8;
}
.hero {
    text-align: center;
    padding: 50px;
    background-color: #477AC8;
    color: white;
}
.app-store-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.app-store-btn:hover {
    background-color: #212121;
}
.features {
    text-align: center;
    padding: 40px;
}
.feature-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feature {
    background: #477AC8;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.feature:hover {
    transform: scale(1.05);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #212121;
    color: #FBFAF5;
}